body{
    background-image: linear-gradient(#FF96F9, #C32BAC, #CC208E, #537895, #F9D423);
}
h1{
    margin: 0;
    padding: 0;
    color: blue;
    text-align: center;
}
.popular {
    color: #FF96F9;
    text-align: right;
}
#container ul{
     list-style: none;
}
#container ul li {
    background-color: #3C3E94;
    width: 150px;
    border:1px solid white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;   
    color: white;
    font-size: 18px;

}
#container ul li a {
    text-decoration: none;
    color: white;
    display: block;
}
#container ul li :hover{
    background-color: #388222;
}
#container ul li ul li {
    display: none;

}
#container ul li:hover ul li {
    display: block;
}

